@charset "UTF-8";
/* Reset general */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reseteo adicional para parágrafos y encabezados */
p,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Elimina decoraciones predeterminadas */
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* Ajusta tipografía general */
html {
  font-size: 100%; /* 16px por defecto */
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; /* Para evitar zoom automático en dispositivos */
}

body {
  font-family: Arial, sans-serif; /* Cambiar según preferencia */
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #000;
}

/* Inputs y botones */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

/* Imágenes y medios */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Tablas */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Flexbox y Grid */
:root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-principal {
  width: 100%;
  position: fixed;
  background-color: #fff;
  height: 80px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  z-index: 5;
  justify-content: space-between;
}
.header-principal .btn-hamburguer {
  font-size: 2rem;
}
.header-principal a {
  font-size: 3rem;
}
.header-principal a span {
  bottom: 40%;
}

.main-principal {
  display: grid;
  grid-template-columns: 1fr; /* para mobile */
  min-height: 100vh;
}
.main-principal .section-cards {
  padding: 6rem 0;
}
.main-principal .section-cards .card-container {
  display: grid;
  padding: 0 2rem;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  justify-content: center;
}
.main-principal .section-cards .card-container .card-item {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0.5rem;
  font-size: clamp(0.1rem, 5vw, 1rem);
}
.main-principal .section-cards .card-container .card-item figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.main-principal .section-cards .card-container .card-item span {
  color: #9e3500;
}
.main-principal .section-cards .card-container .card-item .card-titulo {
  font-size: 1.3rem;
  font-weight: 600;
}
.main-principal .section-cards .card-container .card-item .card-descrip {
  color: #606060;
}
.main-principal .section-cards .card-container .card-item .button-agregar {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 1.4rem;
}
.main-principal .aside-principal {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: fixed;
  pointer-events: auto;
  transition: 0.5s ease;
  opacity: 0;
  height: 100vh;
  padding: 6.7rem 2rem;
  gap: 2rem;
}
.main-principal .aside-principal .aside-logo img {
  max-width: 200px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.main-principal .aside-principal .contenedor-clasificar {
  display: flex;
  flex-direction: column;
  gap: 0.95rem;
}
.main-principal .aside-principal .contenedor-clasificar p {
  font-weight: bold;
  text-transform: uppercase;
}
.main-principal .aside-principal .filtrar-container p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-principal .aside-principal .filtrar-container p a {
  text-decoration: underline;
  color: #606060;
  font-size: 0.9rem;
}
.main-principal .aside-principal .filtrar-container .lista-filtrar .filtrar-item {
  width: auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.main-principal .aside-principal .filtrar-container .lista-filtrar .filtrar-item i {
  transition: transform 0.3s ease;
}
.main-principal .aside-principal .filtrar-container .lista-filtrar .filtrar-item::marker {
  content: "";
}
.main-principal .aside-principal .filtrar-container .lista-filtrar .filtrar-item button {
  text-align: start;
  border: none;
  padding: 0;
}
.main-principal .aside-principal .filtrar-container .lista-filtrar .contenido-filtrar {
  height: 0;
  overflow: hidden;
  transition: height 2s ease;
}
.main-principal .aside-principal .filtrar-container .lista-filtrar[open] .contenido-filtrar {
  height: auto;
}
.main-principal .aside-principal .filtrar-container .lista-filtrar[open] .filtrar-item i {
  transform: rotate(-180deg);
}
.main-principal .aside-visible {
  opacity: 1;
  transform: translateX(0);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.75);
}
.main-principal .aside-oculto {
  opacity: 0;
  transform: translateX(-100%);
}

/* body {
    display: grid;
    min-height: 100vh;
    grid-template-areas: 
        "aside header header header"
        "aside main main main";
    grid-template-columns: 300px 1fr 1fr 1fr; // Aside fijo y las demás columnas flexibles
    grid-template-rows: 80px auto; // Header fijo y main flexible


}


.aside-principal {
    grid-area: aside;
}

.header-principal {
    grid-area: header;
}

.main-principal {
    grid-area: main;
} */
@media screen and (min-width: 600px) {
  .main-principal .section-cards .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .header-principal {
    justify-content: end;
  }
  .header-principal .btn-hamburguer {
    display: none;
  }
  .main-principal {
    grid-template-columns: 300px 1fr;
    /* para desktop */
  }
  .main-principal .aside-principal {
    display: flex;
    position: sticky;
    top: 0;
    transform: translateX(0);
    opacity: 1;
    box-shadow: none;
  }
  .main-principal .section-cards .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
