@use "../utilidades/mixin";
@use "../utilidades/variables";





.header-principal {
    width: 100%;
    position: fixed;
    background-color: variables.$color-white;
    height: 80px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    z-index: 5;
    justify-content: space-between;

    .btn-hamburguer {
        font-size: 2rem;
    }
    a {
        font-size: 3rem;

        span {
            bottom: 40%;
        }
    }
}