@use "../utilidades/mixin";
@use "../utilidades/variables";


.aside-principal {
    background-color: variables.$color-white;
    position: fixed;

    .nav-principal {
        height: 100vh;
        padding: 2.7rem 2rem;
        @include mixin.flex-direccion-column;
        gap: 2rem;

        .aside-logo {
            img {
                max-width: 200px;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .contenedor-clasificar {
            @include mixin.flex-direccion-column;
            gap: 0.95rem;

            p {
                font-weight: bold;
                text-transform: uppercase;

            }
        }

        .filtrar-container {
            p {
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    text-decoration: underline;
                    color: variables.$color-gris;
                    font-size: 0.9rem;
                }



            }

            .lista-filtrar {

                .filtrar-item {
                    width: auto;
                    padding: 1rem 0;
                    display: flex;
                    justify-content: space-between;

                    i {
                        transition: transform 0.3s ease; // Transición para el ícono
                    }

                    &::marker {
                        content: '';
                    }

                    button {
                        text-align: start;
                        border: none;
                        padding: 0;
                    }
                }

                .contenido-filtrar {
                    height: 0; // Inicialmente colapsado
                    overflow: hidden;
                    transition: height 2s ease; // Controla la animación de deslizamiento
                }

                &[open] {

                    // Selector para el estado abierto
                    .contenido-filtrar {
                        height: auto; // Altura máxima visible (ajustar según contenido)
                    }

                    .filtrar-item i {
                        transform: rotate(-180deg); // Rota el ícono hacia arriba
                    }
                }
            }
        }
    }


}


.header-principal {
    width: 100%;
    height: 80px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: end;

    a {
        font-size: 3rem;

        span {
            bottom: 40%;
        }
    }
}