

.main-principal {
    .contenedor-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
        .card-item {
            padding: 2rem;
            figure {
                img {
                    max-width: 200px;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }
}