/* Reset general */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reseteo adicional para parágrafos y encabezados */
p,
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Elimina decoraciones predeterminadas */
a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

summary {
    all: unset;
}

/* Ajusta tipografía general */
html {
    font-size: 100%; /* 16px por defecto */
    line-height: 1.5;
    -webkit-text-size-adjust: 100%; /* Para evitar zoom automático en dispositivos */
}

body {
    font-family: Arial, sans-serif; /* Cambiar según preferencia */
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #000;
}

/* Inputs y botones */
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    border: none;
    background: none;
    outline: none;
}

button {
    cursor: pointer;
}

textarea {
    resize: none;
}

figure {
    margin: 0;
}

/* Imágenes y medios */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Tablas */
table {
    border-collapse: collapse;
    width: 100%;
}

/* Flexbox y Grid */
:root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
