@media screen and (min-width: 1024px) {
    .header-principal {
        justify-content: end;

        .btn-hamburguer {
            display: none;
        }
    }

    .main-principal {
        grid-template-columns: 300px 1fr;

        /* para desktop */
        .aside-principal {
            display: flex;
            position: sticky;
            top: 0;
            transform: translateX(0);
            box-shadow: 21px -8px 79px 25px rgba(163, 177, 198, 0.5), -2px 19px 59px rgb(124 124 124 / 60%);

            opacity: 1;
        }

        .section-cards {
            .card-container {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }


}